{{ define "content" }}
<input type="search" id="search" name="search" placeholder="Search"
  value="{{ .Search }}"
  hx-get="/"
  hx-trigger="keyup delay:500ms changed"
  hx-target="#content"
>
<form action="/custom" method="post">
  <div class="columns">
  {{ if .Respacks }}
    {{ range .Respacks }}
    <label>
      <input type="checkbox" name="{{ .ID }}" value="{{ .ID }}" role="switch">
      <a href="{{ .ID }}/">{{ .Name }}</a>
      <span x-data="{ fav: $persist(0).as('fav-{{ .ID }}') }" x-on:click.prevent="fav = !fav">
        <span x-show="fav">&#x2605;</span>
        <span x-show="!fav">&#x2606;</span>
      </span>
      <small>
        (<a href="respack-info/{{ .ID }}/"
          data-target="modal" onClick="toggleModal(event)"
          hx-get="respack-info/{{ .ID }}/" hx-target="#modal-inner">
          {{ .ImageCount }} image{{ if not (eq .ImageCount 1) }}s{{ end }} +
          {{ .SongCount }} song{{ if not (eq .SongCount 1) }}s{{ end }}
        </a>)
      </small>
    </label>
    {{ end }}
  {{ else }}
    No results!
  {{ end }}
  </div>
  {{ if gt (len .Respacks) 1 }}
  <input type="submit" value="Combine">
  {{ end }}
</form>
{{ end }}