{{ define "content" }}
<form action="/custom" method="post">
  <div class="columns">
  {{ if . }}
    {{ range . }}
    <label>
      <input type="checkbox" name="{{ .ID }}" value="{{ .ID }}" role="switch">
      <a href="{{ .ID }}/">{{ .Name }}</a>
      (<a href="respack-info/{{ .ID }}/"
        data-target="modal" onClick="toggleModal(event)"
        hx-get="respack-info/{{ .ID }}/" hx-target="#modal-inner">
        {{ .ImageCount }} image{{ if not (eq .ImageCount 1) }}s{{ end }} +
        {{ .SongCount }} song{{ if not (eq .SongCount 1) }}s{{ end }}
      </a>)
    </label>
    {{ end }}
  {{ else }}
    No results!
  {{ end }}
  </div>
  {{ if gt (len .) 1 }}
  <input type="submit" value="Combine">
  {{ end }}
</form>
{{ end }}